<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="/static/bootstrap.min.css">


  </head>
  <style>
       .bg-dark{
        color: white;
        background-color: #343a40!important;
   }
    .btn-dark{
        color: white;
        background-color: #343a40!important;
    }
   .card{

        width: 100%;
        border: none;

   }
  </style>
  <body class="bg-dark">
<div class="card rounded-0">
  <div class="card-body bg-dark text-white">

    <div class="d-flex align-items-center bg-dark text-white">
  Error:
  <div class="spinner-grow text-danger ms-auto" role="status" aria-hidden="true"></div>
</div>

  </div>
</div>


<div class="alert bg-dark text-white rounded-0" role="alert">
  <p>{{e}}</p>
</div>
   <script src="static/popper.min.js"></script>
    <script src="static/bootstrap.min.js"></script>


  </body>
</html>